UK trade in services: service type by partner country, non-seasonally adjusted

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/businessindustryandtrade/' + \
                  'internationaltrade/datasets/uktradeinservicesservicetypebypartnercountrynonseasonallyadjusted')
scraper

## UK trade in services: service type by partner country, non-seasonally adjusted

Quarterly estimates of service type by partner country, non-seasonally adjusted.

### Distributions

1. UK trade in services: service type by partner country, non-seasonally adjusted ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/businessindustryandtrade/internationaltrade/datasets/uktradeinservicesservicetypebypartnercountrynonseasonallyadjusted/current/servicetypebycountry.xlsx))

In [2]:
tab = scraper.distribution().as_pandas(header=None)
tab.rename(columns=tab.iloc[0], inplace=True)
tab = tab.iloc[1:, :]
tab = tab.drop(['Service type','Country'], axis = 1)
tab

,Direction,Service type code,Country code,2016,2017,nan,2016Q1,2016Q2,2016Q3,2016Q4,2017Q1,2017Q2,2017Q3,2017Q4,2018Q1,2018Q2,2018Q3
1,Exports,0,AT,1035,1192,NaN,228,254,278,275,278,303,298,313,273,325,336
2,Exports,0,BE,4253,5234,NaN,980,1040,1082,1151,1228,1421,1445,1140,1110,1268,1211
3,Exports,0,BG,457,498,NaN,94,114,129,120,101,128,140,129,113,146,148
4,Exports,0,HR,196,195,NaN,41,48,52,55,36,47,58,54,41,58,52
5,Exports,0,CY,807,812,NaN,174,202,219,212,170,194,225,223,165,236,219
6,Exports,0,CZ,1004,1049,NaN,214,250,268,272,235,275,276,263,265,251,265
7,Exports,0,DK,3570,3617,NaN,796,884,905,985,806,928,917,966,929,1042,1014
8,Exports,0,EE,67,80,NaN,13,17,18,19,20,20,21,19,14,22,23
9,Exports,0,FI,1203,1249,NaN,280,302,294,327,293,308,321,327,289,308,303
10,Exports,0,FR,15723,16770,NaN,3578,3917,3997,4231,3872,4201,4388,4309,4132,4530,4389
11,Exports,0,DE,17415,19177,NaN,3998,4339,4418,4660,4379,5011,4997,4790,4409,4720,4784
12,Exports,0,GR,1267,1441,NaN,289,314,337,327,328,382,375,356,328,372,383
13,Exports,0,HU,661,777,NaN,146,165,169,181,161,184,234,198,165,188,199
14,Exports,0,IE,12382,16318,NaN,2722,3079,3094,3487,3583,3573,4206,4956,3712,4384,4156
15,Exports,0,IT,9064,8904,NaN,1931,2291,2495,2347,1897,2405,2436,2166,1945,2312,2439
16,Exports,0,LV,130,147,NaN,24,34,36,36,28,40,43,36,38,49,59
17,Exports,0,LT,194,208,NaN,39,50,56,49,45,54,58,51,41,53,61
18,Exports,0,LU,2986,3111,NaN,701,752,733,800,856,744,727,784,957,858,797
19,Exports,0,MT,807,860,NaN,177,206,213,211,378,230,132,120,86,112,125
20,Exports,0,NL,14942,16522,NaN,3447,3748,3727,4020,3585,4167,4372,4398,4129,4493,4229
21,Exports,0,PL,1771,2068,NaN,375,448,470,478,429,517,557,565,450,517,536
22,Exports,0,PT,1318,1345,NaN,284,328,362,344,290,328,369,358,299,339,373
23,Exports,0,RO,759,747,NaN,150,194,215,200,148,197,221,181,155,198,223
24,Exports,0,SK,321,340,NaN,69,79,83,90,72,85,91,92,80,102,102
25,Exports,0,SI,148,185,NaN,30,34,36,48,40,40,58,47,35,39,38
26,Exports,0,ES,6544,6907,NaN,1428,1639,1742,1735,1528,1803,1840,1736,1666,1817,1935
27,Exports,0,SE,4987,4967,NaN,1098,1261,1279,1349,1147,1256,1247,1317,1174,1263,1224
28,Exports,0,4F,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0
29,Exports,0,4A,23,143,NaN,6,4,7,6,36,38,35,34,0,0,0
30,Exports,0,B5,104034,114863,NaN,23312,25993,26714,28015,25969,28879,30087,29928,27000,30002,29623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7363,Imports,12,HK,18,20,NaN,3,5,5,5,5,5,5,5,5,5,5
7364,Imports,12,IN,56,71,NaN,9,15,15,17,16,20,17,18,17,16,17
7365,Imports,12,ID,18,23,NaN,3,5,5,5,6,6,6,5,..,..,6
7366,Imports,12,IR,8,11,NaN,2,2,2,2,2,3,3,3,..,..,..
7367,Imports,12,IL,45,57,NaN,11,19,12,3,14,14,14,15,18,22,12
7368,Imports,12,JP,..,31,NaN,5,..,7,..,6,9,8,8,8,8,7
7369,Imports,12,MY,9,11,NaN,2,2,3,2,2,3,3,3,..,3,..
7370,Imports,12,PK,22,27,NaN,3,7,6,6,6,7,7,7,7,7,..
7371,Imports,12,PH,0,1,NaN,0,0,0,0,0,1,0,0,0,..,..
7372,Imports,12,SA,..,28,NaN,..,..,..,..,..,..,..,..,..,8,..
7373,Imports,12,SG,..,46,NaN,4,3,..,14,..,..,..,19,9,11,3
7374,Imports,12,KR,..,69,NaN,2,..,..,2,25,4,21,19,..,20,..
7375,Imports,12,TW,..,11,NaN,..,..,..,..,2,3,3,3,..,2,2
7376,Imports,12,TH,8,16,NaN,2,2,2,2,..,..,4,4,4,..,3
7377,Imports,12,PB4,124,120,NaN,22,23,..,..,28,33,30,29,36,33,34
7378,Imports,12,PB5,..,99,NaN,..,..,..,..,23,23,..,..,24,..,22
7379,Imports,12,PB6,180,198,NaN,42,47,42,49,40,54,58,46,51,44,62
7380,Imports,12,S1,997,901,NaN,144,252,175,426,203,224,241,233,219,226,210
7381,Imports,12,AU,..,25,NaN,..,..,..,..,5,7,8,5,5,5,5
7382,Imports,12,NZ,0,1,NaN,0,0,0,0,0,0,1,0,0,0,1
7383,Imports,12,PB7,..,0,NaN,..,..,0,..,0,0,0,0,0,0,0
7384,Imports,12,O1,24,26,NaN,..,..,..,10,5,7,9,5,5,5,6
7385,Imports,12,EG,28,30,NaN,6,..,7,..,7,8,7,8,..,8,10
7386,Imports,12,MA,9,12,NaN,2,..,..,2,2,3,3,4,4,..,..
7387,Imports,12,ZA,31,23,NaN,4,6,8,13,7,6,5,5,..,..,..
7388,Imports,12,PB8,14,11,NaN,2,..,2,..,2,3,3,3,3,3,..
7389,Imports,12,PB9,188,236,NaN,35,61,51,41,53,72,55,56,67,..,..
7390,Imports,12,F1,270,312,NaN,49,..,..,69,71,92,73,76,87,80,87
7391,Imports,12,9A,0,0,NaN,0,0,0,0,0,0,0,0,0,0,0
7392,Imports,12,W1,3794,4739,NaN,790,1038,906,1060,1186,1180,1196,1177,1034,1165,1021

In [3]:
tab.columns.values[0] = 'Flow'
tab.columns.values[1] = 'Pink Book Services'
tab.columns.values[2] = 'ONS Partner Geography'

In [4]:
new_table = pd.melt(tab, id_vars=['Flow','Pink Book Services','ONS Partner Geography'], var_name='Period', value_name='Value')

In [5]:
new_table

           Flow Pink Book Services ONS Partner Geography  Period   Value
0       Exports                  0                    AT    2016    1035
1       Exports                  0                    BE    2016    4253
2       Exports                  0                    BG    2016     457
3       Exports                  0                    HR    2016     196
4       Exports                  0                    CY    2016     807
5       Exports                  0                    CZ    2016    1004
6       Exports                  0                    DK    2016    3570
7       Exports                  0                    EE    2016      67
8       Exports                  0                    FI    2016    1203
9       Exports                  0                    FR    2016   15723
10      Exports                  0                    DE    2016   17415
11      Exports                  0                    GR    2016    1267
12      Exports                  0                    HU    2016     661
13      Exports                  0                    IE    2016   12382
14      Exports                  0                    IT    2016    9064
15      Exports                  0                    LV    2016     130
16      Exports                  0                    LT    2016     194
17      Exports                  0                    LU    2016    2986
18      Exports                  0                    MT    2016     807
19      Exports                  0                    NL    2016   14942
20      Exports                  0                    PL    2016    1771
21      Exports                  0                    PT    2016    1318
22      Exports                  0                    RO    2016     759
23      Exports                  0                    SK    2016     321
24      Exports                  0                    SI    2016     148
25      Exports                  0                    ES    2016    6544
26      Exports                  0                    SE    2016    4987
27      Exports                  0                    4F    2016       0
28      Exports                  0                    4A    2016      23
29      Exports                  0                    B5    2016  104034
...         ...                ...                   ...     ...     ...
103458  Imports                 12                    HK  2018Q3       5
103459  Imports                 12                    IN  2018Q3      17
103460  Imports                 12                    ID  2018Q3       6
103461  Imports                 12                    IR  2018Q3      ..
103462  Imports                 12                    IL  2018Q3      12
103463  Imports                 12                    JP  2018Q3       7
103464  Imports                 12                    MY  2018Q3      ..
103465  Imports                 12                    PK  2018Q3      ..
103466  Imports                 12                    PH  2018Q3      ..
103467  Imports                 12                    SA  2018Q3      ..
103468  Imports                 12                    SG  2018Q3       3
103469  Imports                 12                    KR  2018Q3      ..
103470  Imports                 12                    TW  2018Q3       2
103471  Imports                 12                    TH  2018Q3       3
103472  Imports                 12                   PB4  2018Q3      34
103473  Imports                 12                   PB5  2018Q3      22
103474  Imports                 12                   PB6  2018Q3      62
103475  Imports                 12                    S1  2018Q3     210
103476  Imports                 12                    AU  2018Q3       5
103477  Imports                 12                    NZ  2018Q3       1
103478  Imports                 12                   PB7  2018Q3       0
103479  Imports                 12                    O1  2018Q3       6
103480  Imports                 12                    EG  2018Q3      10
103481  Imports                 12                    MA  2018Q3      ..
103482  Imports                 12                    ZA  2018Q3      ..
103483  Imports                 12                   PB8  2018Q3      ..
103484  Imports                 12                   PB9  2018Q3      ..
103485  Imports                 12                    F1  2018Q3      87
103486  Imports                 12                    9A  2018Q3       0
103487  Imports                 12                    W1  2018Q3    1021

[103488 rows x 5 columns]

In [6]:
new_table['Period'] = 'quarter/' + new_table['Period'].astype(str).str[0:4]+ '-' +   new_table['Period'].astype(str).str[-2:]

In [7]:
new_table['Flow'] = new_table['Flow'].map(lambda s: s.lower().strip())

In [8]:
new_table['Seasonal Adjustment'] =  'NSA'
new_table['Measure Type'] =  'GBP Total'
new_table['Unit'] =  'gbp-million'

In [9]:
new_table = new_table[new_table['Value'] !=  '-' ]

In [10]:
new_table = new_table[new_table['Value'] !=  '..' ]

In [11]:
new_table['Value'] = new_table.loc[new_table['Value'].notnull(), 'Value'].apply(int)

In [12]:
new_table = new_table.dropna(subset=['Value'])

In [13]:
new_table['Value'] = new_table['Value'].astype(float).astype(int)

In [14]:
new_table = new_table[['ONS Partner Geography', 'Period','Flow','Pink Book Services', 'Seasonal Adjustment', 'Measure Type','Value','Unit' ]]