UK trade in services: service type by partner country, non-seasonally adjusted

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/businessindustryandtrade/' + \
                  'internationaltrade/datasets/uktradeinservicesservicetypebypartnercountrynonseasonallyadjusted')
scraper

## UK trade in services: service type by partner country, non-seasonally adjusted

Quarterly estimates of service type by partner country, non-seasonally adjusted.

### Distributions

1. UK trade in services: service type by partner country, non-seasonally adjusted ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/businessindustryandtrade/internationaltrade/datasets/uktradeinservicesservicetypebypartnercountrynonseasonallyadjusted/current/servicetypebycountry.xlsx))

In [2]:
tab = scraper.distribution().as_pandas(header=None)
tab.rename(columns=tab.iloc[0], inplace=True)
tab = tab.iloc[1:, :]
tab = tab.drop(['Service type','Country'], axis = 1)
tab

,Direction,Service type code,Country code,2016Q1,2016Q2,2016Q3,2016Q4,2017Q1,2017Q2,2017Q3,2017Q4,2018Q1,2018Q2
1,Exports,0,AT,228,254,278,275,292,309,321,340,288,314
2,Exports,0,BE,984,1044,1085,1154,1089,1147,1252,1167,1093,1164
3,Exports,0,BG,93,112,125,118,97,115,136,125,111,129
4,Exports,0,HR,41,48,52,55,37,52,57,55,39,45
5,Exports,0,CY,173,201,218,211,178,193,232,213,177,236
6,Exports,0,CZ,214,251,269,273,243,293,303,309,301,279
7,Exports,0,DK,799,888,906,985,842,968,1012,1066,984,1077
8,Exports,0,EE,13,17,18,19,21,19,25,23,20,22
9,Exports,0,FI,284,305,297,330,316,332,355,376,310,313
10,Exports,0,FR,3583,3924,4001,4237,4023,4300,4473,4524,4242,4470
11,Exports,0,DE,3999,4339,4425,4668,4474,4646,4954,4939,4541,4861
12,Exports,0,GR,288,315,337,328,324,375,387,369,336,380
13,Exports,0,HU,146,165,169,181,170,178,250,192,159,169
14,Exports,0,IE,2716,3072,3088,3481,3072,3249,4187,4906,3432,4034
15,Exports,0,IT,1933,2292,2501,2354,1955,2389,2642,2351,2072,2535
16,Exports,0,LV,24,34,36,36,22,31,32,30,21,40
17,Exports,0,LT,39,50,56,49,37,47,62,51,40,57
18,Exports,0,LU,705,755,737,803,916,796,761,861,957,862
19,Exports,0,MT,177,207,213,211,134,162,148,157,146,161
20,Exports,0,NL,3451,3756,3738,4032,3602,4255,4639,4791,4312,4387
21,Exports,0,PL,375,448,470,477,420,501,576,617,468,502
22,Exports,0,PT,284,329,363,345,303,348,412,382,319,366
23,Exports,0,RO,150,194,215,200,154,211,248,214,168,219
24,Exports,0,SK,70,80,84,91,74,92,112,102,85,113
25,Exports,0,SI,30,34,36,48,33,34,60,41,35,39
26,Exports,0,ES,1428,1638,1742,1735,1572,1791,1914,1799,1696,1848
27,Exports,0,SE,1095,1259,1274,1344,1177,1306,1345,1419,1272,1303
28,Exports,0,4F,-,-,-,-,-,-,0,-,-,-
29,Exports,0,4A,6,4,8,6,1,1,1,-,1,1
30,Exports,0,B5,23328,26015,26741,28046,25578,28140,30896,31419,27625,29926
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7363,Imports,12,HK,3,5,5,5,5,5,5,..,5,5
7364,Imports,12,IN,9,16,17,19,18,23,20,20,19,19
7365,Imports,12,ID,3,6,6,6,6,7,..,5,..,6
7366,Imports,12,IR,2,2,2,2,2,3,3,..,3,2
7367,Imports,12,IL,10,17,11,2,13,12,13,13,16,20
7368,Imports,12,JP,5,..,7,..,6,..,8,9,9,10
7369,Imports,12,MY,2,3,3,2,3,..,..,..,..,3
7370,Imports,12,PK,3,5,5,5,5,5,5,5,5,5
7371,Imports,12,PH,-,-,-,-,-,-,-,-,-,-
7372,Imports,12,SA,4,6,6,..,6,6,5,6,6,7
7373,Imports,12,SG,4,4,3,14,3,9,..,19,9,12
7374,Imports,12,KR,2,..,3,2,26,..,21,..,..,20
7375,Imports,12,TW,2,2,2,2,..,..,3,..,..,3
7376,Imports,12,TH,2,2,2,2,..,3,3,..,3,..
7377,Imports,12,PB4,22,20,20,..,..,26,26,24,29,..
7378,Imports,12,PB5,19,33,24,19,24,..,28,29,25,..
7379,Imports,12,PB6,41,43,39,46,37,49,55,45,46,..
7380,Imports,12,S1,142,243,169,421,197,213,234,227,207,219
7381,Imports,12,AU,..,..,..,..,5,7,8,5,5,5
7382,Imports,12,NZ,-,-,-,-,-,-,1,-,-,-
7383,Imports,12,PB7,..,..,-,..,1,1,1,2,2,2
7384,Imports,12,O1,..,..,..,11,6,8,10,7,7,7
7385,Imports,12,EG,6,..,8,6,..,9,..,..,..,..
7386,Imports,12,MA,2,3,..,3,2,4,4,..,..,2
7387,Imports,12,ZA,4,6,8,13,..,6,..,5,7,..
7388,Imports,12,PB8,2,..,2,7,2,..,..,3,..,2
7389,Imports,12,PB9,34,48,42,34,46,..,43,44,55,..
7390,Imports,12,F1,48,..,..,63,66,73,63,65,78,64
7391,Imports,12,9A,-,-,-,-,-,-,-,-,-,-
7392,Imports,12,W1,790,1038,906,1060,1185,1180,1197,1177,1034,1165

In [3]:
tab.columns.values[0] = 'Flow'
tab.columns.values[1] = 'Pink Book Services'
tab.columns.values[2] = 'ONS Partner Geography'

In [4]:
new_table = pd.melt(tab, id_vars=['Flow','Pink Book Services','ONS Partner Geography'], var_name='Period', value_name='Value')

In [5]:
new_table

          Flow Pink Book Services ONS Partner Geography  Period  Value
0      Exports                  0                    AT  2016Q1    228
1      Exports                  0                    BE  2016Q1    984
2      Exports                  0                    BG  2016Q1     93
3      Exports                  0                    HR  2016Q1     41
4      Exports                  0                    CY  2016Q1    173
5      Exports                  0                    CZ  2016Q1    214
6      Exports                  0                    DK  2016Q1    799
7      Exports                  0                    EE  2016Q1     13
8      Exports                  0                    FI  2016Q1    284
9      Exports                  0                    FR  2016Q1   3583
10     Exports                  0                    DE  2016Q1   3999
11     Exports                  0                    GR  2016Q1    288
12     Exports                  0                    HU  2016Q1    146
13     Exports                  0                    IE  2016Q1   2716
14     Exports                  0                    IT  2016Q1   1933
15     Exports                  0                    LV  2016Q1     24
16     Exports                  0                    LT  2016Q1     39
17     Exports                  0                    LU  2016Q1    705
18     Exports                  0                    MT  2016Q1    177
19     Exports                  0                    NL  2016Q1   3451
20     Exports                  0                    PL  2016Q1    375
21     Exports                  0                    PT  2016Q1    284
22     Exports                  0                    RO  2016Q1    150
23     Exports                  0                    SK  2016Q1     70
24     Exports                  0                    SI  2016Q1     30
25     Exports                  0                    ES  2016Q1   1428
26     Exports                  0                    SE  2016Q1   1095
27     Exports                  0                    4F  2016Q1      -
28     Exports                  0                    4A  2016Q1      6
29     Exports                  0                    B5  2016Q1  23328
...        ...                ...                   ...     ...    ...
73890  Imports                 12                    HK  2018Q2      5
73891  Imports                 12                    IN  2018Q2     19
73892  Imports                 12                    ID  2018Q2      6
73893  Imports                 12                    IR  2018Q2      2
73894  Imports                 12                    IL  2018Q2     20
73895  Imports                 12                    JP  2018Q2     10
73896  Imports                 12                    MY  2018Q2      3
73897  Imports                 12                    PK  2018Q2      5
73898  Imports                 12                    PH  2018Q2      -
73899  Imports                 12                    SA  2018Q2      7
73900  Imports                 12                    SG  2018Q2     12
73901  Imports                 12                    KR  2018Q2     20
73902  Imports                 12                    TW  2018Q2      3
73903  Imports                 12                    TH  2018Q2     ..
73904  Imports                 12                   PB4  2018Q2     ..
73905  Imports                 12                   PB5  2018Q2     ..
73906  Imports                 12                   PB6  2018Q2     ..
73907  Imports                 12                    S1  2018Q2    219
73908  Imports                 12                    AU  2018Q2      5
73909  Imports                 12                    NZ  2018Q2      -
73910  Imports                 12                   PB7  2018Q2      2
73911  Imports                 12                    O1  2018Q2      7
73912  Imports                 12                    EG  2018Q2     ..
73913  Imports                 12                    MA  2018Q2      2
73914  Imports                 12                    ZA  2018Q2     ..
73915  Imports                 12                   PB8  2018Q2      2
73916  Imports                 12                   PB9  2018Q2     ..
73917  Imports                 12                    F1  2018Q2     64
73918  Imports                 12                    9A  2018Q2      -
73919  Imports                 12                    W1  2018Q2   1165

[73920 rows x 5 columns]

In [6]:
new_table['Period'] = 'quarter/' + new_table['Period'].astype(str).str[0:4]+ '-' +   new_table['Period'].astype(str).str[-2:]

In [7]:
new_table['Flow'] = new_table['Flow'].map(lambda s: s.lower().strip())

In [8]:
new_table['Seasonal Adjustment'] =  'NSA'
new_table['Measure Type'] =  'GBP Total'
new_table['Unit'] =  'gbp-million'

In [9]:
new_table = new_table[new_table['Value'] !=  '-' ]

In [10]:
new_table = new_table[new_table['Value'] !=  '..' ]

In [11]:
new_table['Value'] = new_table['Value'].astype(int)

In [12]:
new_table = new_table[['ONS Partner Geography', 'Period','Flow','Pink Book Services', 'Seasonal Adjustment', 'Measure Type','Value','Unit' ]]

In [13]:
new_table.dtypes

ONS Partner Geography    object
Period                   object
Flow                     object
Pink Book Services       object
Seasonal Adjustment      object
Measure Type             object
Value                     int32
Unit                     object
dtype: object